header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.4375rem 0.625rem; /* 7px 10px */
    position: fixed;
    width: 100%;
    z-index: 99;

    .logo {
        width: 6.25rem; /* 100px */
        position: relative;
        left: 0;
    }
}

header nav {
    margin-left: 10rem;
    float: right;
    position: relative;

    ul {
        list-style: none;
        display: flex;
        gap: 5rem;

        .nav-item {
            a {
                color: #ffffff;
                text-decoration: none;
                font-weight: bold;
                font-family: '';
                font-size: 1.5rem;
                padding-bottom: 0.1rem;

                &:hover {
                    border-bottom: 0.1rem solid #0d6843;
                    padding-bottom: 0.3rem;
                }
            }
        }

        .nav-item.active {
            a {
                border-bottom: 0.1rem solid #0d6843;
                padding-bottom: 0.3rem;
            }
        }
    }
}

header section {
    display: flex;
    justify-content: space-between;
}

#home {
    background: url('../img/background.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
}

#home .info {
    position: relative;
    top: 40%;
    left: 10%;
    transform: translateY(-50%, -50%);
    z-index: 1;
    color: #ffffff;
    padding: 1.25rem; /* 20px */
    max-width: 37.5rem; /* 600px */

    a {
        color: #ffffff;
        text-decoration: none;
        font-weight: bold;
        font-size: 1.5rem;
        padding: 0.625rem 1.25rem; /* 10px 20px */
        background-color: #0E4F35;
        border-radius: 1.25rem; /* 20px */
        transition: background-color 0.3s;

        &:hover {
            background-color: #0d6843;
        }
    }

    h2 {
        font-size: 5rem;
        margin-bottom: 1.25rem; /* 20px */
        font-weight: 700;
        line-height: 1.2;
        font-family: '';
    }

    p {
        font-size: 1.5rem; /* 24px */
        line-height: 1.6;
        width: 56.25rem; /* 900px */
    }
}

#home::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg, rgba(13, 31, 26, 0.8) 50%, rgba(0, 0, 0, 0) 100%) no-repeat;
}

#about {
    background: #080B0C;
    width: 100%;
    height: 100vh;
    display: flex;
    color: #ffffff;
}

#about .left {
    width: 50%;
    padding: 1.25rem; /* 20px */
    position: relative;
    left: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
        font-size: 6.25rem; /* 100px */
        margin-bottom: 1.25rem; /* 20px */
        font-weight: 700;
        font-family: '';
        color: #0E4F35;
    }

    p {
        font-size: 1.5rem; /* 24px */
        line-height: 1.6;
    }
}

#about .right {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 80%;
        height: auto;
        border-radius: 1.25rem; /* 20px */
        box-shadow: 0 0 0.75rem 0 #0E4F35; /* 12px */
        transition: transform 1s cubic-bezier(0.215, 0.610, 0.355, 1);
        object-fit: cover;

        &:hover {
            transform: scale(1.05);
        }
    }
}

#perso {
    background: #080B0C;
    width: 100%;
    height: 100vh;
    color: #ffffff;
    position: relative;

    h2 {
        font-size: 6.25rem; /* 100px */
        margin-bottom: 1.25rem; /* 20px */
        font-weight: 700;
        font-family: '';
        color: #0E4F35;
        text-align: center;
        width: 100%;
        position: relative;
        top: 5rem;
    }
}

#perso .personagens {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 5em;
}

#perso .personagens .skin {
    display: flex;
    flex-direction: column;
    gap: 1.25rem; /* 20px */
    padding: 1.25rem; /* 20px */
    border-radius: 1.25rem; /* 20px */
    box-shadow: 0 0 0.75rem 0 #0E4F35;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 18.75rem; /* 300px */
    height: 34.375rem; /* 550px */
    top: 5rem;

    #wwimg {
        width: 15rem; /* 240px */
        height: 15rem; /* 240px */
    }

    #gfimg {
        position: relative;
        top: 1.25rem; /* 20px */
    }

    #gfinfo {
        position: relative;
        top: 1.375rem; /* 22px */
    }

    img {
        width: 15.625rem; /* 250px */
        height: 15.625rem; /* 250px */
        object-fit: cover;
        border-radius: 50%;
        border: 0.1rem solid #0E4F35;
        position: relative;
        top: -0.625rem; /* -10px */
    }

    h2 {
        text-align: center;
        display: flex;
        align-items: center;
    }

    p {
        width: 100%;
        margin-top: 0.625rem; /* 10px */
    }

    .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: justify;
        color: #ffffff;
        border-radius: 1.25rem; /* 20px */
        box-shadow: 0 0 0.75rem 0 rgba(13, 31, 26, 0.8);
        padding: 0.625rem; /* 10px */
        margin-top: 0.625rem; /* 10px */
    }

    &:hover {
        transform: scale(1.1);
        transition: transform 0.3s ease-in-out;
    }
}

#season {
    background: #080B0C;
    width: 100%;
    height: 100vh;
    color: #ffffff;
    position: relative;

    h2 {
        font-size: 6.25rem; /* 100px */
        margin-bottom: 1.25rem; /* 20px */
        font-weight: 700;
        font-family: '';
        color: #0E4F35;
        text-align: center;
        width: 100%;
        position: relative;
        top: 5rem;
    }
}

#season .seasons {
    display: flex;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 2rem;
    height: 12.5rem; /* 200px */

    img {
        object-fit: cover;
        width: 18.75rem; /* 300px */
        border-top-left-radius: 1.25rem; /* 20px */
        border-top-right-radius: 1.25rem; /* 20px */
        position: relative;
        top: 0.9375rem; /* 15px */
        border: 0.125rem solid #0E4F35; /* 2px */
        border-bottom: none;
        height: 18.75rem; /* 300px */
    }

    .season:hover {
        img {
            width: 26.25rem; /* 420px */
        }

        .season-info {
            height: 12.5rem; /* 200px */
        }
    }
}

#season .seasons .season-info {
    border: 0.125rem solid #0E4F35; /* 2px */
    border-top: none;
    padding: 0 0.625rem 0.625rem 0.625rem; /* 0 10px 10px 10px */
    border-bottom-left-radius: 1.25rem; /* 20px */
    border-bottom-right-radius: 1.25rem; /* 20px */
    box-shadow: 0 0 0.75rem 0 rgba(13, 31, 26, 0.8);
    overflow: hidden;
    height: 3.125rem; /* 50px */

    h3 {
        display: flex;
        justify-content: center;
        margin-bottom: 2.5rem; /* 40px */
        position: relative;
        top: 1.25rem; /* 20px */
    }

    p:nth-child(2){
        margin: 0.8rem 0; 
    }
}


#curiosidade {
    background: #080B0C;
    width: 100%;
    height: 100vh;
    color: #ffffff;
    position: relative;

    h2 {
        font-size: 6.25rem; /* 100px */
        margin-bottom: 1.25rem; /* 20px */
        font-weight: 700;
        font-family: '';
        color: #0E4F35;
        text-align: center;
        width: 100%;
        position: relative;
        top: 5rem;
    }
}

#curiosidade .curiosidades {
    display: grid;
    grid-template-columns: repeat(2, 31.25rem); /* 500px */
    gap: 1.25rem; /* 20px */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    img {
        width: 6.25rem; /* 100px */
        height: 6.25rem; /* 100px */
        margin-left: 1rem; 
    }
}

#curiosidade .curiosidades .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    color: #ffffff;
    border-radius: 1.25rem; /* 20px */
    box-shadow: 0 0 0.75rem 0 rgba(13, 31, 26, 0.8);
    padding: 0.625rem; /* 10px */
    border: 0.125rem solid #0E4F35;

    p {
        font-size: 1rem;
        line-height: 1.4;
        width: 80%;
        margin-left: 3.75rem; /* 60px */
        text-align: center;
    }
}


#rodape {
    background: #0d1f1a;
    width: 100%;
    height: 6.25rem; /* 100px */
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    p {
        font-size: 1.2rem;
        text-align: center;
        width: 100%;
        position: relative;
    }
}

#rodape .redes {
    position: absolute;
    top: 2rem; /* 32px */
    left: 1%;
    display: flex;
    gap: 1.25rem; /* 20px */

    i {
        font-size: 2rem;
        color: #ffffff;
        cursor: pointer;

        &:hover {
            color: #0E4F35;
        }
    }
}

